<div class="container cont-wrapper">
  <img src="./assets/img5.png" />

  <div class="form-input">
    <form class="form-inline">
      <input
            type="text"
            class="user-input px-3 py-2"
            id="username"
            name="username"
            placeholder="Enter Your Github Username.."
          />
      <button type="submit" class="btn btn-sm mx-2 py-2">
        SEARCH
      </button>
    </form>
  </div>
</div>


<!-- <form
  (ngSubmit)="submitUsername()"
  #gitSearchForm="ngForm"
  name="gitSearchForm"
>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control input-lg mb15 user-input"
        id="username"
        [(ngModel)]="username"
        name="username"
        autocomplete="off"
        placeholder="Github Username"
      />
      <button type="submit" class="btn btn-success btn-lg btn-block">
        Search GitHub User & Repos
      </button>
    </div>
    <div class="col-md-3"></div>
  </div>
</form> -->
