<div class="container cont-wrapper">
  <img src="./assets/img5.png" />

  <div class="form-input">
    <form (ngSubmit)="searchUser()" #gitsearchForm='ngForm' class="form-inline" >
      <input
            [(ngModel)]="username"
            type="text"
            class="user-input px-3 py-2"
            id="username"
            name="username"
            placeholder="Enter Your Github Username.."
            required
          />

          <button type="submit" (click)="getOutput()" class="btn btn-sm mx-2">
        SEARCH
      </button>
    </form>
  </div>
</div>


<div class="container mt-5">
  <div class="container spinner-border" role="status" [hidden]="loading">
    <!-- <span class="sr-only">Loading...</span> -->
  </div>
</div>
<router-outlet>
  
</router-outlet>
<!-- <app-output></app-output> -->